.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput {
  width: 50px;;
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  border: 1px solid black;
}

table {
  border-collapse: collapse; 
  border:3px solid black;
  background-color: beige;
  color: black;
}

td {
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.buttonContainer {
  padding: 20px;
}

.solveButton{
  background-color: orange;
  font-weight: bold;
  padding: 12px 20px;
  border:none;
  border-radius:  20px;
}

.verifyButton{
  background-color: green;
  font-weight: bold;
  padding: 12px 20px;
  border:none;
  border-radius:  20px;
}

.bBorder{
  border-bottom: 2px solid black;
}

.rBorder{
  border-right: 2px solid black;
}